{
  "extends": "rallycoding",
  "globals": { "fetch": false },
  "rules": {
    "arrow-body-style": 0
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".ios.js", ".android.js"]
      }
    }
  }
}
